.container {
  padding: 0 1rem;
  background-color: #900c3f;
  background-repeat: no-repeat;
  background-image: linear-gradient(155deg, #581845, #900c3f, #bf2323);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #dedede;
  justify-content: center;
  align-items: center;
  color: #dedede;
}

@media (max-width: 600px) {}
